@use 'src/styles/vars';

.header {
  color: #fff;
  padding-top: 10px;
  
  .active {
    color: vars.$mainColor;
  }
  .header-title {
    padding-top: 12px;
  }
  .header-nav {
    height: 40px;
    background: transparent;
  }
  .navbar-list {
    z-index: 5;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .navbar-item {
    margin-right: 80px;
    text-shadow: 0.2em 0.2em 0.5em black;
  }
  .navbar-item:last-child {
    margin: 0;
  }
  .navbar-button {
    display: none;
  }

  .navbar-projet {
    cursor: pointer;
    margin-top: 80px;
    margin-right: 80px;
    transition: 0.5s;

    &:hover .navbar-projects, {
      visibility: visible;
      opacity: 1;
        li {
        transform: rotateY(0deg);
        
      }
    }

    .navbar-projects {
    opacity: 0;
    visibility: hidden;
    margin-top: 10px;
    transition: 0.3s;
    perspective: 500px;

      li {
        margin-top: 10px;
        transform: rotateY(30deg) scaleX(1.2);
        transition: 0.3s;
        &:hover {
          color: vars.$mainColor;
        }
      }
    }
  }
  

  @media screen and (max-width:500px){
    .navbar-list {
      flex-direction: column;
      background-color: transparent;
      height: 200px;
    }
    .navbar-item:nth-child(1) {
      margin-top: 50px;
      border-top: 1px solid white;
    }
    .navbar-item {
      width: 100%;
      margin-right: 0;
      border-bottom: 1px solid white;
    }
    .navbar-item a{
      height: 50px;
      margin-top: 20px;
      width: 10%;
      margin: auto;
      line-height: 50px;
      display: block;
    }

    .navbar-button {
      display: block;
      position: absolute;
      top: 10px;
      right: 15px;
      cursor: pointer;
      font-size: 1.2em;
    }
  }
}
