@use 'src/styles/vars';

  .projects {
    
    .project-container {
      display: flex;
      width: 80%;
      margin: auto;
      padding-top: 8%;
      align-items: flex-start;
      height: 50%;
      margin-bottom: 12px;
      .project-description {
        color: vars.$mainColor;
        text-align: right;
        padding-right: 2em;
        padding-top: 2em;
        text-shadow: 0.1em 0.1em 0.2em black;
        width: 50%;
        margin-bottom: 50.5px;
        border-radius: 5px 0 0 5px;
        .project-title {
          font-size: 1.8em;
          font-weight: 600;
          margin-bottom: 25px;
        }
        .project-date {
          font-style: italic;
          margin-bottom: 25px;     
         }
        .project-content {
          margin-bottom: 25px;
        }
  
      }
  
      .project-image {
        width: 50%;
        img {
          max-height: 350px;
        }
        button {
          display: block;
          background: vars.$mainColor;
          border: none;
          border-radius: 20px;
          padding: 0.8em;
          margin-top: 10px;
        }
      }
    }
  }
